body {
    background-color: black;
}

.card {
    border-radius: 15px;
    background-color: aqua;
    /* box-shadow: 11px 12px 100px greenyellow !important; */
}

button {
    font-size: 30px !important;
    border-radius: 50px !important;
    
    padding: 2% !important;
}
.form-control{
    height: 90px;
    font-size: 50px;
}
